body{
    background-image: url('../img/BTTFII.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#digital{
    color: white;
    font-size: 50px;
}
.analogue {
    width: 150px;
    height: 150px;
    border: 8px solid white;
    border-radius: 50%;
    position: relative;
    background: white;
}
.hand{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(0deg);
}
.hours {
    height: 35px;
    width: 6px;
    background: blue;
}
.minutes {
    height: 60px;
    width: 4px;
    background: hotpink;
}
.seconds {
    height: 70px;
    width: 2px;
    background: red;
}
.center-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
